// colors
$color-text: #2a3d45;
$color-bg: #dce1de;
$color-header: white;
$color-computer: #c17c74;
$color-user: #5B8263;
$color-border: #37000a;
$color-hover: #efefd0;
$color-glow-green: #8cd867;
$color-glow-red: #6f1d1b;
$color-glow-grey: #464655;
// fonts
$font-family-main: 'Comfortaa', sans-serif;
$font-size-main: 40px;
$font-size-small: 14px;
