@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import "variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-bg;

  header {
    background: $color-header;
    padding: 20px;

    h1 {
      color: $color-text;
      text-align: center;
      font-family: $font-family-main;
    }
  }
}

.scoreboard {
  margin: 20px auto;
  padding: 15px 20px;
  border: 3px solid $color-border;
  width: 200px;
  text-align: center;
  font-size: $font-size-main;
  border-radius: 4px;
  font-family: $font-family-main;
  position: relative;

  .badge {
    color: $color-bg;
    padding: 2px 10px;
    font-size: $font-size-small;
    font-family: $font-family-main;
  }

  #user-badge {
    background: $color-user;
    position: absolute;
    top: 30px;
    left: -25px;
  }

  #comp-badge {
    background: $color-computer;
    position: absolute;
    top: 30px;
    right: -25px;
  }
}

.result {
  font-size: $font-size-main;
  font-weight: bold;
  font-family: $font-family-main;
  color: $color-text;

  .result-phrase {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

img {
  align-content: center;
  max-width: 200px;
}

.choices {
  margin: 50px 0 20px 0;
  text-align: center;

  .choice {
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.5s ease;

    &:hover {
      background: $color-hover;
      cursor: pointer;
    }
  }
}

#call {
  text-align: center;
  color: $color-text;
  font-size: $font-size-main/1.3;
  font-weight: bold;
  font-family: $font-family-main;
}

.green-glow {
  border-radius: 15%;
  border: 5px solid $color-glow-green;

  box-shadow: 0 0 50px darken($color-glow-green, 10%);
}

.red-glow {
  border-radius: 15%;
  border: 5px solid $color-glow-red;
  box-shadow: 0 0 50px darken($color-glow-red, 10%);
}

.grey-glow {
  border: 5px solid $color-glow-grey;
  box-shadow: 0 0 50px darken($color-glow-grey, 10%);
}

.default-glow {
  border: 5px solid $color-border;
  border-radius: 15%;
}


